body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

h1 {
  color:	#405580;
  background-color: #e6e0d1;
  text-align: center;
  padding: 15px 0 15px;
}

.jumbotron {
  background-color: 	#405580;
  color: #e6e0d1;
}

.jumbotron h3 {
  text-align: center;
  padding-bottom: 20px;
}

